html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable-no, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='css/index.css')
    title Destinos & Descuentos

  body
    footer
       div(class='right')
        span @Todos los derechos reservados
       ul(class='menu-social') 
        li(class='item-social')
          img(src='../img/svg/facebook.svg' class='img-social')
        li(class='item-social')
          img(src='../img/svg/lk.svg' class='img-social')
        li(class='item-social')
          img(src='../img/svg/twitter.svg' class='img-social')

    main            
      div(class='content') 
        div(class='content-logo')
          img(src='../img/svg/logo-red.svg' class='logo')
        div(class='content-arrow-continue') 
    header
    
      ul(class='menu')
        li(class='item-menu')
          a(href="#")
            img(src='../img/svg/home-mobile.svg' class='img-option')
        li(class='item-menu')
          a(href="#")
            img(src='../img/svg/arrow-mobile.svg' class='img-option')
        li(class='item-menu')
          a(href="#")
            img(src='../img/svg/team-mobile.svg' class='img-option')
        li(class='item-menu')
          a(href="#")
            img(src='../img/svg/phone-mobile.svg' class='img-option')
          
    script(src="js/index.js")
